@import 'animation';
@import 'desctop';
@import 'mobile';
@import 'variables';

@media (max-width: 799px){
    body{
      width: 100%;
      font-family: 'Roboto', sans-serif;

  #headerMain{
    width: 100%;
    font-size: 24px;
    background: black;
    margin: 0 auto;
    background-image: url("../images/coal.jpg");

  .containerOne{
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .logo{
    background-image: url("../images/logoKato.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50vh;
    height: 50vh;
    position: absolute;
    animation: heartbeat 1.5s infinite;
  }
  .position{
    position: absolute;
    margin: 0 auto;
    top: 20%;
        }
      }
    }
  }


@media (min-width: 800px){
  body{
    width: 100%;
    font-family: 'Roboto', sans-serif;

#headerMain{
  width: 100%;
  font-size: 24px;
  background: black;
  margin: 0 auto;
  background-image: url("../images/coal.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

.containerOne{
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.logo{
  background-image: url("../images/logoKato.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 70vh;
  height: 70vh;
  position: absolute;
  animation: heartbeat 1.5s infinite;
}
.position{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
      }
    }
  }
}
